body {
  font-family: "Courier New", sans-serif;
  background-image: url('clouds.jpg');
  background-size: cover;
  display: flex;
  margin: auto;
}

.clear {
  background: url('clear.jpg') no-repeat center center fixed;
  background-size: cover;
}